:root {
    --primary: #4691ff;
    --primary-text: #eee;

    --link: #4691ff;

    --other-message: #178f75;
    --other-message-text: #eee;

    --my-message: #2d8fbd;
    --my-message-text: #eee;
}